VITE_API_URL=http://localhost:5017
VITE_ENTRA_CLIENT_ID=
VITE_ENTRA_AUTHORITY=https://nomadrulesdev.ciamlogin.com/nomadrulesdev.onmicrosoft.com/v2.0
VITE_ENTRA_API_SCOPE=api://REPLACE_WITH_API_CLIENT_ID/access_as_user

